@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$gold: #ffd200;
$leaguegothic: league gothic, "league-gothic", sans-serif;
.gothify {
    font-family: $leaguegothic;    
    text-transform: uppercase;
    color: white;
    margin-top: 75px;
    span {
        color: $gold;
    }
} 



.gothifyUC {
    font-family: $leaguegothic;    

    color: white;
    margin-top: 50px;
    span {
        color: $gold;
    }
}

.gothifyHeadings {
    font-family: $leaguegothic;    
    text-transform: uppercase;
    margin-top: 75px;
    font-size: 5.5rem;
    span {
        color: $gold;
    }
}

.redify {
    color: red;
    font-size: 90px;
        
}

@media only screen { 
    .headerBG {
        background: url('header_background2.png') repeat;
        height:100%;

        .logo {
            margin-top: 75px;    
        }

    }
}

@media only screen and (min-width: 64.063em) { 
    .headerBG {
        background: url('header_background2.png') repeat;
        height:980px;

        .logo {
            margin-top: 175px;    
        }

    }
} 


